.App {
  font-family: sans-serif;
  text-align: center;
}

.todosList{
  list-style: none;
}

.todoItem{
  padding-bottom: 5px;
}

.header__showText{
  font-weight: bold;
}

.filterLink{
  margin-right: 5px;
}
